#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to left, #fdbd5b, #ffaebf);
  box-shadow: 2px 2px 5px #f5b6d1;
  padding: 0.1em 1em;
}

.nav-logo{
  width: 50px;  
}

#search-form {
  position: relative;
  width: 20%;
}

#search-form svg {
  position: absolute;
  top: 10px;
  left: 9px;
  color: #fdbd5b;
}

#search-form input {
  padding-left: 2.5em;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin: 0;
}

#nav-links {
  display: flex;
  align-items: center;
  font-weight: bolder;
}

#nav-links li {
  margin-right: 1em;
}

#nav-links span {
  cursor: pointer;
}

#nav-links svg {
  font-size: 1.5em;
}
