.Container-product {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  display: flex;
}

.item {
  height: 350px;
  width: 350px;
  padding: 14px;
}

.item img {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.carousel {
  cursor: grab;
  overflow: hidden;
}
