/* .photo-item img {
  width: 100%;
}

#home .photo-item h2 {
  margin-bottom: 0.2em;
} */

.Container-product {
  width: 100%;
  margin: 0 auto;
  max-width: 900px;
}

.Container-product img {
  width: 500px;
  height: 500px;
}

.inner {
  display: flex;
}

.item {
  min-width: 400px;
  min-height: 200px;
  padding: 14px;
}

.item img {
  width: 100%;
  height: 90%;
  border-radius: 12px;
  pointer-events: none;
}

.carousel {
  cursor: grab;
  overflow: hidden;
}
